{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>RecordBook</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/regression@2.0.1/dist/regression.min.js"></script>
</head>
<body>
  <div class="navbar-wrap">
  {% block navbar %}
  <div id="navbar" class="navbar">
      {% if user.is_authenticated %}
      <div class"cursed">
        <a href="{% url 'homepage' %}">RecordBook</a>
      </div>
      {% else %}
      <div class"cursed">
        <a href="{% url 'index' %}">RecordBook</a>
      </div>
      {% endif %}
    <a href="{% url 'team' %}">Team</a>
    <a href="{% url 'designs' %}">Designs</a>
    <a href="{% url 'launches' %}">Launches</a>
    <a href="{% url 'data_analysis' %}">Data Analysias</a>
    <div class = "logins">
      {% if user.is_authenticated %}
        <a href="{% url 'log_out' %}">Log out</a>
      {% else %}
        <a href="{% url 'log_in' %}">Log in</a>
        <a href="{% url 'register' %}">Register</a>
      {% endif %}
    </div>
  {% endblock navbar %}
  </div>
  {% block content %}
  {% endblock content %}
  {% block script %}
  {% endblock script %}
  </div>
</body>

<script src="{% static 'js/test.js' %}"></script>


</html>
