{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>RecordBook</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
  {% block navbar %}
  <div class="navbar">
    {% if user.is_authenticated %}
      <a href="/homepage/">RecordBook</a>
    {% else %}
      <a href="/">RecordBook</a>
    {% endif %}
    <!--<a href="/dataEntry/">Data Entry</a>-->
    <a href="/team/">Team</a>
    <a href="/designs/">Designs</a>
    <a href="/launches/">Launches</a>
    <a href="/data_analysis/">Data Analysis</a>
    {% if user.is_authenticated %}
      <a href="/log_out/">Log out</a>
    {% else %}
      <a href="/log_in/">Log in</a>
      <a href="/register/">Register</a>
    {% endif %}
  </div>
  {% endblock navbar %}
  {% block content %}
  {% endblock content %}
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  {% block script %}
  {% endblock script %}
</body>
</html>
