{% extends "home/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block content %}
<div class="content">
  <div class="design">
    <h1>Designs</h1>
    <a href="/new_design/">+Add a design</a>
    {% if designs|length > 0 %}
      <ul>
      {% for design in designs %}
      <div class="design-box">
        <li>{{ design.name }}</li>
        <div class="design-info">
          <p>Owner: {{ design.owner }}</p>
          <p>Diameter: {{ design.diameter }}mm</p>
          <p>Motor diameter: {{ design.motor_diameter }}mm</p>
          <p>Length: {{ design.length }}mm</p>
        </div>
      </div>
      {% endfor %}
      </ul>
    {% else %}
      <p>No designs so far</p>
    {% endif %}
  </div>
</div>
{% endblock content %}
