{% extends "home/base.html" %}

{% block content %}
<div class="content">
    <div class="launch">
        <h1>{{ launch.launch_date }}</h1>
        <p><a href="{% url 'log_flight' %}">Log a flight on this day</a></p>
        {% if launch.flights.all|length > 0 %}
        {% for flight in launch.flights.all %}
            {% include "home/flight_table.html" with flight=flight %}
        {% endfor %}
        {% else %}
        <p>No flights logged for this launch</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
