{% extends "home/base.html" %}

{% block content %}
<form action="{% url 'new_launch' %}" method="POST">
  {% csrf_token %}

  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

  {% for field in non_member_fields %}
      <p>
      {{ field.label_tag }} {{ field }}
      </p>
  {% endfor %}

  {% for field in member_fields %}
      <p>
      {{ field.label_tag }} {{ field }}
      </p>
  {% endfor %}

  <input type=submit></input>
</form>
{% endblock content %}
