{% extends "home/base.html" %}
{% load static %}

{% block content %}
<div class="content">
  <div class="team">
    <h1>{{ team.name }}</h1>
    <p class="info">Join code: {{ team.join_code }}</p>
    <h2>Captain:</h2>
    <p class="info">{{ captain.user.first_name }} {{ captain.user.last_name }}</p>

    <h2>Members:</h2>
    <ul>
    {% for account in team.accounts.all %}
      <li class="member" id={{ account.user.username }}>{{ account.user.first_name }} {{ account.user.last_name }}</li>
    {% endfor %}
    </ul>

    <h2>Designs:</h2>
    {% if designs|length > 0 %}
      <ul>
      {% for design in designs %}
        <li>{{ design.name }}</li>
      {% endfor %}
      </ul>
    {% else %}
      <p>No designs so far</p>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block script %}
<script>
$(function() {
    var is_captain = {{ is_captain|safe }};
    if (is_captain) {
        $(".member").append(function(index) {
            var username = $(".member")[index].id;
            var button = '&nbsp;&nbsp;&nbsp;<button type="button" class="remove" id=remove_' + username + '>-</button>'
            if (index != 0) return button;
        })
    };

    $(".remove").click(function(event) {
        var buttonId = event.target.id;
        var username = buttonId.substring(7);
        var csrf_token = $('{% csrf_token %}')[0].value;
        $.post("{% url 'remove_member' %}", {'username': username, 'csrfmiddlewaretoken': csrf_token}, function() {
            $("#" + buttonId).remove();
            $("#" + username).remove();
        });
    });
});
</script>
{% endblock %}
